# Render Blueprint
version: "1"
projects:
- name: My project
  environments:
  - name: Production
    services:
    - type: web
      name: fii-portifolio
      runtime: static
      repo: https://github.com/niko-xande/fii-portifolio
      buildCommand: npm ci && npm run build
      staticPublishPath: out
      envVars:
      - key: NEXT_PUBLIC_SUPABASE_URL
        sync: false
      - key: NEXT_PUBLIC_SUPABASE_ANON_KEY
        sync: false
      autoDeployTrigger: commit
